<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/github-light.css" media="screen">
  </head>

  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="{{ site.baseurl }}/">KouInject</a></h1>
      <h2 class="project-tagline">Simple dependency injection framework for Java</h2>
      <a href="https://github.com/blurpy/kouinject" class="btn">View on GitHub</a>
      <a href="https://github.com/blurpy/kouinject/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/blurpy/kouinject/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">KouInject is maintained by <a href="https://github.com/blurpy">Christian Ihle</a>.</span>

        <span class="site-footer-credits">This page is hosted by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  </body>
</html>
